// ===========================================
// $ BASE
// ===========================================

h1, h2, h3, h4, h5, h6, table {
  font-family: helvetica, arial, verdana, sans-serif;
  line-height: 1.25;
}
.text-line-height-small {
  line-height: 1;
}