// ===========================================
// $ COLOR
// ===========================================

table {
  color: palette(gray, dark);
}
.text-color-black {
  color: palette(black);
}
.text-color-white {
  color: palette(white);
}
.text-color-red {
  color: palette(red);
}
