// ===========================================
// $ FONT SIZE
// ===========================================

table {
  font-size: 18px;
}

.text-size-small {
  font-size: 14px
}
.text-size-large {
  font-size: 22px
}
.text-size-xlarge {
  font-size: 30px
}
